{% load bootstrap4 %}
{% block content %}
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/css/favicon.png">
    <title>주식 예측 프로그램</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/css/starter-template.css" rel="stylesheet">
    <link href="/static/css/style1.css" rel="stylesheet">
    <link href="/static/css/style3.css" rel="stylesheet">
    <link href="/static/css/board.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Jua&family=Nanum+Gothic&family=Nanum+Myeongjo:wght@700&family=Noto+Sans+KR&display=swap" rel="stylesheet">
</head>

        <!-- bootstrap을 이용한 Navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <!-- <img class="logo__image" src="/static/favicon.png" alt="로고"> -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}">주식예측프로그램</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse navbarmenu">
                    <ul class="nav navbar-nav navbar1">
                        <li class="navbar1_menu"><a href="{% url 'home' %}">HOME</a></li>
                        <li class="navbar1_menu"><a href="{% url 'index' %}">주식예측</a></li>
                        <li class="navbar1_menu active"><a href="{% url 'board' %}">커뮤니티</a></li>
                        <li class="navbar1_menu"><a href="{% url 'crawl' %}">주식정보</a></li>
                        <li class="navbar1_menu"><a href="{% url 'maker' %}">제작자</a></li>
                    </ul>
                    <ul class="nav navbar-nav pull-right navbar2">
                        <li class="navbar2_menu"><a href="{% url 'logout' %}">로그아웃</a></li>
                    </ul>
                </div><!--/.nav-collapse --></div>
        </nav>

<div class="alert alert-primary" role="alert">
  진짜로 {{object}}를 지우실 건가요?
</div>
<form action="" method ="post">
    {% csrf_token %}
    <input type="submit" value="Delete OK">
</form>

{% endblock %}