.tab-bmi{
  font-family: Arial;
}


/*style the tab*/

.tab-bmi .tab{
  overflow:hidden;
  border:1px solid #ccc;
  background-color:#f1f1f1;
}

/*the buttons*/
.tab-bmi .tab button{
  background-color: inherit;
  float:left;
  border:none;
  cursor:pointer;
  outline:none;
  padding:14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/*add hover to the buttons*/
.tab-bmi .tab button:hover{
  background-color: #ddd;
}

/*Create an active/current tablink class*/
.tab-bmi .tab button.active{
  background-color:#ccc;
}


/*style the tb content*/
.tab-bmi .tabcontent{
  display: none;
  padding: 6px 12px;
  --webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;

}

@-webkit-keyframes fadeEffect {
  from {opacity:0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity:0;}
  to {opacoty: 1;}
}
