<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/css/favicon.png">
    <title>Bmi 계산기</title>
    <!--bokeh-->
    <link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-2.1.1.min.css"/>
    <link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.1.1.min.css"/>
    <link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-tables-2.1.1.min.css"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--bmi style-->
    <link href="/static/css/style1.css" rel="stylesheet">
</head>
<body>
        <header id = "main_header">
            <div id="title">
            </div>
        </header>
    
        <!-- bootstrap을 이용한 Navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <!-- <img class="logo__image" src="/static/favicon.png" alt="로고"> -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}">건강 기록 관리 프로그램</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse navbarmenu">
                    <ul class="nav navbar-nav navbar1">
                        <li class="navbar1_menu"><a href="{% url 'home' %}">HOME</a></li>
                        <li class="navbar1_menu active"><a href="{% url 'index' %}">주식예측</a></li>
                        <li class="navbar1_menu"><a href="{% url 'board' %}">커뮤니티</a></li>
                        <li class="navbar1_menu"><a href="{% url 'crawl' %}">주식정보</a></li>
                        <li class="navbar1_menu"><a href="{% url 'maker' %}">제작자</a></li>
                        <li class="navbar1_menu"><a href="{% url 'bmi' %}">Bmi</a></li>
                    </ul>
                    <ul class="nav navbar-nav pull-right navbar2">
                        <li class="navbar2_menu"><a href="{% url 'logout' %}">로그아웃</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
            </nav>
            {% block content %}
            {% endblock content %}
        <!--Bokeh-->
        <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-2.1.1.min.js"></script>
        <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.1.1.min.js"></script>
        <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-tables-2.1.1.min.js"></script>
        <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-api-2.1.1.min.js"></script>
        {{script|safe}}
        <!--custom scripts-->
        <script type="text/javascript" src="{% static 'bmi/custom.js' %}">
        </script>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script type="text/javascript">
        $(document).ready(function(){
        $('[data-toggle="popover"]').popover();});
        </script>
    
        <div class="container">
        <div class="form-row">
        <!-#########################Col1###############-->
        <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="tab-bmi">
        <h3>Bmi 계산기</h3>
        <div class="tab">
            <button  class="tablinks" onclick="openUnit(event, 'metric')">미터</button>
        </div>
    
        <div class="tabcontent" id="metric">
        <form method="post">
        {% csrf_token %}
        <div class="col-12">
            <label>Weight: </label>
            <input type="text" name="weight-metric" class="form-control" required placeholder="kg">
        </div>
    
        <div class="col-12">
        <label>Height: </label>
        <input type="text" name="height-metric" class="form-control" required placeholder="m">
        </div>
        {% if request.user.is_authenticated %}
        <div class="form-check my-5">
        <input class="form-check-input" checked="checked" name="save" value="on" type="checkbox">
        <label class="form-check-label">저장하시겠습니까
        <a href="#" title="저장하시겠습니까?" data-toggle="popover" data-trigger="focus" 
        data-content="체중을 관리하기를 원한다면 로그인이 필요합니다.">?</a>
        </label>
        </div>
    
        {% else %}
        <div class="form-check my-5">
        <input disabled class="form-check-input" checked="checked" name="save" value="on" type="checkbox">
        <label class="form-check-label">저장하시겠습니까
        <a href="#" title="Why to save it?" data-toggle="popover" data-trigger="focus"
        data-content="체중을 관리하기를 원한다면 로그인이 필요합니다.">?</a>
        </label>
        </div>
        
        {% endif %}
        <button type="submit" class="btn btn-primary" action="{% url 'home' %}">계산하기</button>
        </form>
        </div>

        <div class="tabcontent" id="imperial">
        <form method="post">
        {% csrf_token %}
        {% if request.user.is_authenticated %}
        <div class="form-check my-5">




        </label>
        </div>

        {% else %}
        <div class="form-check my-5">
        <input disabled class="form-check-input" checked="checked" name="save" value="on" type="checkbox">
        <label class="form-check-label">Save It.
        <a href="#" title="Why to save it?" data-toggle="popover" data-trigger="focus"
        data-content="In case you want to track your weight, you can save it.(login required)">?</a>
        </label>
        </div>
                
        {% endif %}

        </form>
        </div>
        </div>
            <!-#########################Col2###############-->
        </div>
    
        {% if bmi %}
        <div class="col-md-6 col-sm-12 col-xs-12">
        <h2>Result</h2>
        <p>Your BMI = {{bmi}} kg/m² | {{state}}</p>
        <div class="progress">
        <div class="progress-bar bg-danger" style="width:25%">
        저체중
        </div>
        <div class="progress-bar bg-success" style="width:25%">
        정상
        </div>
        <div class="progress-bar bg-warning" style="width:25%">
        과체중
        </div>
        <div class="progress-bar bg-danger" style="width:25%">
        비만
        </div>
        </div>
        </div>

        {% endif %}
        </div>

        {{div|safe}}
        </div>
</body>
</html>