{% load static %}
{{ '<' }}{{ '!DOCTYPE html>' }}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--bokeh-->
      <link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-2.1.1.min.css"/>
      <link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.1.1.min.css"/>
      <link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-tables-2.1.1.min.css"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--bmi style-->
    <link rel="stylesheet" href="{% static 'css/bmi.css' %}">
    <link href="/static/css/nav.css" rel="stylesheet">
    <title>Bmi Calculator</title>
  </head>
  <body>

    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light container mb-5">
        <button type="button" class="navbar-toggler" data-toggl="collapse" data-target="#MyNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="MyNav">
          <ul class="navbar-nav">
            <li class="navbar-item">
                <a href="{% url 'home' %}" class="nav-link">Home</a>
            </li>
            <li class="navbar-item">
                <a href="{% url 'login' %}" class="nav-link">Login</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="navbar-item">
                <a href="{% url 'logout' %}" class="nav-link">Logout</a>
            </li>
            {% else %}
            <li class="navbar-item">
                <a href="{% url 'signup' %}" class="nav-link">SignUp</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>
    {% block content %}
    {% endblock content %}
    <!--Bokeh-->
      <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-2.1.1.min.js"></script>
      <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.1.1.min.js"></script>
      <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-tables-2.1.1.min.js"></script>
      <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-api-2.1.1.min.js"></script>
      {{script|safe}}
    <!--custom scripts-->
    <script type="text/javascript" src="{% static 'bmi/custom.js' %}">
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
<script type="text/javascript">
  $(document).ready(function(){
    $('[data-toggle="popover"]').popover();
  });
</script>