<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
        }
    </style>
</head>
<body>
    <div style="text-align: center;">주식 예측</div>
    <br>
    <br>

    <div style="text-align: center;">
    주식이름: <input type=text name='x1' value><br>
    나라: <input type=text name='x2'><br>
    시작날짜: <input type=text name='x3'><br>
    끝날짜: <input type=text name='x4'><br>
    <input type='submit' value='예측하기' class="signup_button">
    </form>
    </div>
</body>
</html>
